@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
  font-size: 15px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "League Spartan", sans-serif;
}

html {
  font-family: "Space Grotesk", serif;
}

body {
  display: grid;
  place-items: center;
  font-family: "Space Grotesk", serif;
  min-height: 100vh;
}

.main {
  height: 100%;
  min-width: 100vw;
}
.main .background {
  position: relative;
  background: url(/images/bg-main-mobile.png) no-repeat;
  background-size: cover;
  height: 220px;
}
.main .background__cardBack {
  position: absolute;
  max-width: 100%;
  width: 280px;
  top: 30px;
  right: 20px;
}
.main .background__cardBack .cardBack__text {
  position: absolute;
  color: hsl(0deg, 0%, 100%);
  z-index: 5;
  top: 65px;
  right: 30px;
  font-family: inherit;
  font-size: 14px;
}
.main .background__cardFront {
  position: absolute;
  bottom: -46px;
  left: 20px;
  width: 280px;
  height: 150px;
  background: url(/images/bg-card-front.png) no-repeat center top;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: inherit;
}
.main .background__cardFront .cardFront__logo {
  width: 20%;
  padding-bottom: 20px;
}
.main .background__cardFront .cardFront__number p {
  font-family: inherit;
  color: hsl(0deg, 0%, 100%);
  font-size: 18px;
}
.main .background__cardFront .cardFront__info {
  display: flex;
  justify-content: space-between;
  color: hsl(0deg, 0%, 100%);
}
.main .background__cardFront .cardFront__info p {
  font-family: inherit;
  font-size: 12px;
}
.main .background__cardFront .cardFront__info .expire {
  display: flex;
}
.main .form {
  padding: 80px 20px 20px 20px;
  position: relative;
}
.main .form__input {
  display: flex;
  flex-direction: column;
}
.main .form__input .form__name {
  display: flex;
  flex-direction: column;
}
.main .form__input .form__number_group {
  display: flex;
  flex-direction: column;
}
.main .form__input label {
  font-size: 13px;
}
.main .form__input input {
  margin: 5px 0px 10px 0px;
  padding: 10px;
  border: 1px solid hsl(270deg, 3%, 87%);
  border-radius: 7px;
}
.main .form__input input::placeholder {
  color: hsl(279deg, 6%, 55%);
}
.main .form__input input:focus {
  outline: 2px solid hsl(279deg, 6%, 55%);
}
.main .form__input .form__button button {
  font-size: 17px;
  width: 100%;
  padding: 10px;
  border: 1px solid hsl(270deg, 3%, 87%);
  border-radius: 7px;
  border: 0;
  background: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  padding: 13px;
  margin-top: 10px;
  cursor: pointer;
}
.main .form__expire {
  display: flex;
}
.main .form__expire .date {
  display: flex;
  flex-direction: column;
}
.main .form__expire .month {
  margin-right: 10px;
}
.main .form__expire .cvc {
  display: flex;
  flex-direction: column;
  width: auto;
}
.main .form__expire__container {
  display: flex;
  flex-direction: column;
}
.main .form__expire #expire__month {
  width: 48%;
}
.main .form__expire #expire__year {
  width: 48%;
}
.main .form__expire #expire__cvc {
  width: 170px;
}

.thanks {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0 10px 0;
  background-color: hsl(0deg, 0%, 100%);
  display: grid;
  place-items: center;
  display: none;
}
.thanks img {
  padding: 30px 0;
}
.thanks h1,
.thanks p {
  font-family: inherit;
}
.thanks h1 {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 3px;
  color: hsl(278deg, 68%, 11%);
}
.thanks p {
  margin: 15px 0 25px 0;
  color: hsl(279deg, 6%, 55%);
  font-size: 18px;
}
.thanks button {
  width: 85%;
  padding: 13px;
  border: 0;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.thanks.show {
  display: grid;
}

small {
  display: none;
}

small.show {
  display: block;
}

@media screen and (min-width: 1400px) {
  .main {
    display: flex;
    min-height: 100vh;
  }
  .main .background {
    flex-grow: 0.5;
    height: 100vh;
    background-image: url(/images/bg-main-desktop.png);
    background-size: cover;
    border: 2px solid black;
  }
  .main .background__cardBack {
    width: 100%;
    right: -260px;
    top: 480px;
  }
  .main .background__cardBack .cardBack__text {
    position: absolute;
    top: 110px;
    right: 140px;
    color: hsl(0deg, 0%, 100%);
    z-index: 5;
    font-family: inherit;
  }
  .main .background__cardFront {
    top: 200px;
    left: 170px;
    width: 450px;
    height: 245px;
  }
  .main .background #number {
    font-size: 35px;
  }
  .main .background #name {
    font-size: 18px;
  }
  .main .background .expire {
    font-size: 15px;
  }
  .main .background #expire-month {
    font-size: 18px;
  }
  .main .background #expire-year {
    font-size: 18px;
  }
  .main .form {
    flex-grow: 0.5;
    display: grid;
    place-items: center;
  }
  .main .form__input {
    max-width: 350px;
  }
  .main .form__input label {
    margin-top: 20px;
  }
  .main .form__input .form__button {
    margin-top: 20px;
  }
  .main .form .thanks {
    width: 450px;
    height: 430px;
    left: 230px;
    top: 240px;
  }
  .main .form .thanks button {
    width: 80%;
    margin-bottom: 30px;
  }
  .main .form .thanks h1 {
    margin-bottom: -80px;
  }
  .main .form .thanks p {
    margin-bottom: -40px;
  }
  .main .form .thanks img {
    margin-bottom: -70px;
  }
}
@media screen and (min-width: 1500px) {
  .main .background {
    max-width: 900px;
  }
  .main .background__cardBack {
    right: -700px;
    top: 600px;
  }
  .main .background__cardBack .cardBack__text {
    top: 110px;
    right: 500px;
  }
  .main .background__cardFront {
    left: 570px;
    top: 320px;
  }
  .main .form .thanks {
    left: 455px;
    top: 440px;
  }
}/*# sourceMappingURL=styles.css.map */