$red: hsl(0, 100%, 66%);
$gradient: linear-gradient(hsl(249, 99%, 64%) hsl(278, 94%, 30%));
$white: hsl(0, 0%, 100%);
$lightGreyViolet: hsl(270, 3%, 87%);
$darkGreyViolet: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);
